@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4 pb-2">
        <h1 class="col-6 text-primary text-capitalize">Categories List</h1>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary text-capitalize">
                <i class="bi bi-plus-circle mx-2"></i>
                Create New Category
            </a>
        </div>
    </div>


    <table class="table table-bordered table-striped w-100">
        <thead>
            <tr class="text-center">
                <th>Category Name</th>
                <th>Disolay Order</th>
                <th>Created Date Time</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td class="w-25">@category.Name</td>
                    <td class="w-25">@category.DisplayOrder</td>
                    <td class="w-30">@category.CreatedDateTime</td>
                    <td class="w-20 text-center">
                        <div class="btnbtn-group ">
                            <a asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id" class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i> Edit</a>
                            <a asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id" class="btn btn-danger"><i class="bi bi-trash"></i> Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>